body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0 20px;
}

/* Style the h1 heading */
h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

/* Style the h2 heading */
h2 {
    font-size: 30px;
    color: #0D0D0D;
    margin-right: 50px;
}

h2:nth-of-type(2) {
    color: white;
}



/* Style the footer */
footer {
    background: linear-gradient(to right, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid #FFFFFF;
}

/* Style paragraphs inside the footer */
footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}

/* Style default paragraphs */
p {
    font-size: 24px;
    padding: 10px 0 0 10px;
}

/* Style default images */
img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF;
}

/* Style default divs */
div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}

/* Style for the introduction class */
.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

/* Style for the red class */
.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-left: 5px solid white;
    border-bottom: 2px solid white;
    border-top: none;
}

/* Style for the blue div */
.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid white;
    border-top: 2px solid white;
    border-left: none;
    border-bottom: none;
    color: #C4C4C4; /* Fixing color contrast */
}

.blue h2 {
    color: #C4C4C4;
}

/* Style for the yellow div */
.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-left: 5px solid white;
    border-bottom: 2px solid white;
    border-top: none;
    border-right: none;
    color: #707070; /* Fixing color contrast */
}

/* Style for the green div */
.green {
    background-color: #008500; /* Use #00EB00, #008500, or #00D800 */
    text-align: left;
    margin-right: 50px;
    border-left: none;
    border-top: 2 px solid white;
    border-right: 5 px solid white;

}